.fruit-card {
  position: relative;
  background-color: var(--color-fill);
  border: 1px solid var(--color-stroke-weak);
  border-radius: 10px;
  width: max(calc(75vw / 10), 150px);
  height: max(calc(75vw / 10), 150px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  h4 {
    margin-bottom: auto;
  }
}
.fruit-card:hover > h4,
.fruit-card:hover > img {
  opacity: 0.1;
}
.fruit-add {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  p {
    text-align: center;
  }
  .circle {
    border: 2px solid black;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    align-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .circle:hover {
    border-color: var(--color-brand);
    background-color: var(--color-brand-stroke-weak);
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--color-brand-stroke-strong);
    .add {
      color: var(--color-brand);
    }
  }
  .circle:active {
    background-color: var(--color-brand-stroke-weak);
    cursor: pointer;
    box-shadow: none;
    .add {
      color: var(--color-brand);
    }
  }
  .add {
    font-size: 1.75rem;
    user-select: none;
    align-content: center;
    text-align: center;
  }
}

.fruit-image {
  width: 70%;
  aspect-ratio: auto;
}
